<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <title>NZH insights template</title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>"/>
    <link rel="stylesheet" type="text/css" href="//insights.nzherald.co.nz/main.2763f5a2181cade5104a.css">
  </head>
  <body>
    <div id="insights-entry-point"></div>
  </body>
</html>
