
#insights-entry-point {
  padding-bottom: 30px;
  .content-main {
    width: 1px; // iframe support
    min-width: 100%;

    .chart {
      display: none;
      position: relative;
      &.show-chart {
        display: inherit;
      }
      .chart-caption {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 20px;
      }
      .chart-annotation {
        position: absolute;
        right: 10%;
        top: 5%;
      }
      .chart-wrapper {
        position: relative;
    .d3-wrapper {
      height: 300px;
      .bar {
        fill: thistle;
      }

      .bar:hover {
        fill: brown;
      }

      .axis {
        font-size: 10px;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #111;
        shape-rendering: crispEdges;
      }

      .x.axis path {
        display: none;
      }
    }
    }
  }

    .markdown {
      max-width: 680px;
      margin: 12px 0;
      ul {
        list-style-type: circle;
      }
    }

    body {
      margin: 0;
    }

    .content {
      max-width: 900px;
      margin: 0 auto;
      .button-wrap {
        display: flex;
        align-items: flex-end;
        button {
          margin-left: 40px;
        }
      }
    }

  }
}
